<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/dist/main.css">
	<script src="/dist/index.js" defer></script>
	<title>Van Gogh App</title>
</head>

<body>
	<section class="details">
		<h1>Verdieping 1</h1>

		<ul>
			<li>
				<img src="http://www.vggallery.com/painting/f_0373.jpg" alt="">
			</li>
			<li>
				<img src="http://www.vggallery.com/painting/f_0373.jpg" alt="">
			</li>
			<li>
				<img src="http://www.vggallery.com/painting/f_0373.jpg" alt="">
			</li>
			<li>
				<img src="http://www.vggallery.com/painting/f_0373.jpg" alt="">
			</li>
		</ul>

		<a href="/" class="play-btn">
			<span>PLAY</span>
		</a>
	</section>
</body>

</html>
