<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/dist/main.css">
  <script src="/dist/index.js" defer></script>
  <title>Van Gogh App</title>
</head>
<body>
  <section class="home">
  <h1>Wat wil je doen vandaag ?</h1>
  <div class="first-topic">
    <h2>van Gogh <span>(hoofdgebouw)</span></h2>
    <ul>
      <li><a href="#">Eigen Tempo<span>></span></a></li>
      <li><a href="/selection">Jouw persoonlijke tour<span>></span></a></li>
    </ul>
  </div>
  <div class="second-topic">
    <h2>van Gogh & Japan <span>(bijgebouw)</span></h2>
    <ul>
      <li><a href="#">Eigen Tempo <span>></span> </a></li>
      <li><a href="#">Jouw persoonlijke tour <span>></span></a></li>
    </ul>
  </div>
  </section>
</body>
</html>
