<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/dist/main.css">
	<script src="/dist/index.js" defer></script>
	<title>Van Gogh App</title>
</head>

<body>
	<section class="selection-screen">
		<p>Je ben op het punt een eigen tour te maken op basis van jou interesses. Kies hier wat voor werk je allemaal wilt zien.</p>
		<h1>Wat interesseerd u het meest?</h1>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<a class="confirm-btn" href="/chosen">
			<span>Bevestig</span>
		</a>
	</section>
</body>

</html>
