/* all variables */

/* colors */
$backgroundColorBlue: #017b92;
$backgroundColorRed: #8f2022;

/* templating */
$widthMax: 100vw;
$heightMax: 100vh;

/* fontstuff */
$fontColor: white;
$font: helvetica, sans-serif;
