.chosen {
  background-color: $backgroundColorRed;
  width: $widthMax;
  height: $heightMax;

  [href="/selection"] {
    svg {
      padding: 1.6em;
      background-color: black;
      fill: black;
    }
  }

  h1 {
    padding-left: .7em;
    margin: 1em 0;
    font-size: 2em;
    font-family: 'Capriola', sans-serif;
  }

  .line-emphasize {
    width: 7.5rem;
    border: 2px solid;
    border-color: inherit;
    border-radius: 2px;
    margin-left: 1.6em;
    margin-bottom: 3em;
  }

  .selections {
    margin-left: 1em;
    .circle {
      background: #D8D8D8;
      height: 4.5rem;
      width: 4.5rem;
      margin-bottom: 1rem;
      margin-left: 1.2rem;
      border-radius: 50%;
      border: 3px solid skyblue;
    }
  }

  .user--picked {
    display: flex;
    flex-direction: row;
    align-items: center;
    em {
      padding-left: .3em;
    }
  }

  .confirm-btn {
      display: flex;
      justify-content: center;
      padding: 1em 3em;
      margin: 0 auto;
      margin-top: 4em;
      max-width: 4em;
      background: #000;
      border-radius: 1.5rem;
      text-decoration: none;

      span {
          color: #fff;
          display: inline-block;
      }

      &.chosen {
          transform: translateY(0);
      }
  }
}
