.details {
	display: flex;
	flex-direction: column;
	height: $heightMax;
	width: $widthMax;
	background: $backgroundColorRed;

	a {
		svg {
			padding: 1.6em;
			background-color: black;
			fill: black;
		}
	}

	h1 {
		margin: 1em 0 1em 0.4em;
		font-size: 2em;
	}

	div {
		width: 80%;
		height: 58%;
		margin: 0 auto;
	}

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.start-btn {
		display: block;
		background: #000;
		margin-top: 1rem;
		border-radius: 1.5rem;
		width: 100%;
		height: 3rem;
		text-align: center;

		span {
			color: #fff;
			display: inline-block;
			margin-top: 0.8rem;
		}
	}
}
