.goto {
  background-color: black;
  width: $widthMax;
  height: $heightMax;

  h1 {
    // max-width: 7.5em;
    margin-left: 2em;
    margin-top: 10em;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .line-emphasize {
    width: 7.5rem;
    border: 2px solid;
    border-color: inherit;
    border-radius: 2px;
    margin-left: 1.6em;
    margin-bottom: 3em;
    margin-left: 3em;
    margin-top: 19em;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  ul {
  list-style: none;
  overflow-y: scroll;
  width: $widthMax;
  height: $heightMax;

    li:nth-child(even) {
      margin-left: 1em;
      margin-bottom: 1em;
      padding-top: 1em;
      opacity: .2;
    }

    li:nth-child(odd) {
      margin-left: 14em;
      margin-bottom: 1em;
      padding-top: 1em;
      opacity: .4;
    }
  }

}


.anim-image {
  width: 7em;
  height: 11em;
  background-color: white;

}
