.home {
  background-color: $backgroundColorBlue;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  h1,h2,li,a,p {
    color: $fontColor;
  }

  h1 {
    margin: 1em 0 2em .4em;
    font-size: 2em;
  }

  div {
    margin-bottom: 4em;
    margin-left: 1em;
    h2 {
      font-size:1.8em;
      padding-bottom: .1em;
      border-bottom: 2px solid white;
      span {
        font-size:.5em;
      }
    }
    ul {
      list-style: none;
      li {
        a {
         width: auto;
         height: auto;
         text-decoration: none;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         padding: .9em;
       }
      }
    }
  }
}
